@charset "UTF-8";

body,
html {
	margin: 0;
	padding: 0;
}

#banner3_955937359 {
	background-color: #ffffff;
	border: 0;
	box-sizing: border-box;
	cursor: default;
	display: block;
	height: 1024px;
	overflow: hidden;
	position: relative;
	width: 1440px;
	z-index: 1;
}#banner3_955937359 div {
	position: absolute;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

#banner3_955937359 img {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	padding: 0;
	margin: 0;
}
.button_container {
	position: absolute;
	left: 0;
	right: 0;
	top: 30%;
  }
  
  .description, .link {
	font-family: "Amatic SC", cursive;
	text-align: center;
  }
  
  .description {
	font-size: 35px;
  }
  
  .btn {
	border: none;
	display: block;
	text-align: center;
	cursor: pointer;
	text-transform: uppercase;
	outline: none;
	overflow: hidden;
	position: relative;
	color: #fff;
	font-weight: 700;
	font-size: 15px;
	background-color: #222;
	padding: 17px 60px;
	margin: 0 auto;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  .btn span {
	position: relative;
	z-index: 1;
  }
  
  .btn:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 490%;
	width: 140%;
	background: #78c7d2;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
	transform: translateX(-98%) translateY(-25%) rotate(45deg);
  }
  
  .btn:hover:after {
	-webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
	transform: translateX(-9%) translateY(-25%) rotate(45deg);
  }
  
  .link {
	font-size: 20px;
	margin-top: 30px;
  }
  
  .link a {
	color: #000;
	font-size: 25px;
  }
/*
=====
LEVEL 1. RESET STYLES
=====
*/

.field{
	--uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #767676);
  }
  
  .field__input{ 
	background-color: transparent;
	border-radius: 0;
	border: none;
  
	-webkit-appearance: none;
	-moz-appearance: none;
  
	font-family: inherit;
	font-size: 1em;
  }
  
  .field__input:focus::-webkit-input-placeholder{
	color: var(--uiFieldPlaceholderColor);
  }
  
  .field__input:focus::-moz-placeholder{
	color: var(--uiFieldPlaceholderColor);
	opacity: 1;
  }
  
  /*
  =====
  LEVEL 2. CORE STYLES
  =====
  */
  
  .a-field{
	display: inline-block;
  }
  
  .a-field__input{ 
	display: block;
	box-sizing: border-box;
	width: 100%;
  }
  
  .a-field__input:focus{
	outline: none;
  }
  
  /*
  =====
  LEVEL 3. PRESENTATION STYLES
  =====
  */
  
  /* a-field */
  
  .a-field{
	--uiFieldHeight: var(--fieldHeight, 2.5rem);  
	--uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
	--uiFieldBorderColor: var(--fieldBorderColor);
  
	--uiFieldFontSize: var(--fieldFontSize, 1rem);
	--uiFieldHintFontSize: var(--fieldHintFontSize, 1rem);
  
	--uiFieldPaddingRight: var(--fieldPaddingRight, 1rem);
	--uiFieldPaddingBottom: var(--fieldPaddingBottom, 1rem);
	--uiFieldPaddingLeft: var(--fieldPaddingLeft, 1rem);   
  
	position: relative;
	box-sizing: border-box;
	font-size: var(--uiFieldFontSize);
	padding-top: 1rem;  
  }
  
  .a-field__input{
	height: var(--uiFieldHeight);
	padding: 0 var(--uiFieldPaddingRight) 0 var(--uiFieldPaddingLeft);
	border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColor);  
  }
  
  .a-field__input::-webkit-input-placeholder{
	opacity: 0;
	transition: opacity .2s ease-out;
  }
  
  .a-field__input::-moz-placeholder{
	opacity: 0;
	transition: opacity .2s ease-out;
  }
  
  .a-field__input:not(:placeholder-shown) ~ .a-field__label-wrap .a-field__label{
	opacity: 0;
	bottom: var(--uiFieldPaddingBottom);
  }
  
  .a-field__input:focus::-webkit-input-placeholder{
	opacity: 1;
	transition-delay: .2s;
  }
  
  .a-field__input:focus::-moz-placeholder{
	opacity: 1;
	transition-delay: .2s;
  }
  
  .a-field__label-wrap{
	box-sizing: border-box;
	width: 100%;
	height: var(--uiFieldHeight);	
  
	pointer-events: none;
	cursor: text;
  
	position: absolute;
	bottom: 0;
	left: 0;
  }
  
  .a-field__label{
	position: absolute;
	left: var(--uiFieldPaddingLeft);
	bottom: calc(50% - .5em);
  
	line-height: 1;
	font-size: var(--uiFieldHintFontSize);
  
	pointer-events: none;
	transition: bottom .2s cubic-bezier(0.9, -0.15, 0.1, 1.15), opacity .2s ease-out;
	will-change: bottom, opacity;
  }
  
  .a-field__input:focus ~ .a-field__label-wrap .a-field__label{
	opacity: 1;
	bottom: var(--uiFieldHeight);
  }
  
  /* a-field_a1 */
  
  .a-field_a1 .a-field__input{
	transition: border-color .2s ease-out;
	will-change: border-color;
  }
  
  .a-field_a1 .a-field__input:focus{
	border-color: var(--fieldBorderColorActive);
  }
  
  /* a-field_a2 */
  
  .a-field_a2 .a-field__label-wrap::after{
	content: "";
	box-sizing: border-box;
	width: 0;
	height: var(--uiFieldBorderWidth);
	background-color: var(--fieldBorderColorActive);
  
	position: absolute;
	bottom: 0;
	left: 0;  
  
	will-change: width;
	transition: width .285s ease-out;
  }
  
  .a-field_a2 .a-field__input:focus ~ .a-field__label-wrap::after{
	width: 100%;
  }
  
  /* a-field_a3 */
  
  .a-field_a3{
	padding-top: 1.5rem;
  }
  
  .a-field_a3 .a-field__label-wrap::after{
	content: "";
	box-sizing: border-box;
	width: 100%;
	height: 0;
  
	opacity: 0;
	border: var(--uiFieldBorderWidth) solid var(--fieldBorderColorActive);
  
	position: absolute;
	bottom: 0;
	left: 0;
  
	will-change: opacity, height;
	transition: height .2s ease-out, opacity .2s ease-out;
  }
  
  .a-field_a3 .a-field__input:focus ~ .a-field__label-wrap::after{
	height: 100%;
	opacity: 1;
  }
  
  .a-field_a3 .a-field__input:focus ~ .a-field__label-wrap .a-field__label{
	bottom: calc(var(--uiFieldHeight) + .5em);
  }
  
  /*
  =====
  LEVEL 4. SETTINGS
  =====
  */
  
  .field{
	--fieldBorderColor: #D1C4E9;
	--fieldBorderColorActive: #673AB7;
  }
  
  /*
  =====
  DEMO
  =====
  */
  
  body{
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
	margin: 0;
	
	min-height: 100vh;
	display: flex;
	flex-direction: column;
  }
  
  .page{
	box-sizing: border-box;
	width: 100%;
	max-width: 1000px;
	margin: auto;
	padding: 15px;
	
	display: grid;
	grid-gap: 30px;
	align-items: flex-end;
	order: 1;
  }
  
  @media (min-width: 481px){
	
	.page{
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	}
  }
#b_1_banner3_955937359 {
	top: 0px;
	left: 0px;
	z-index: 1;
}

#img_1_banner3_955937359 {
	width: 1440px;
	height: 1024px;
}

#img_1_banner3_955937359.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_2_banner3_955937359 {
	top: 120px;
	left: 142px;
	z-index: 2;
}

#img_2_banner3_955937359 {
	width: 1184px;
	height: 805px;
}

#img_2_banner3_955937359.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_3_banner3_955937359 {
	top: 144px;
	left: 709px;
	z-index: 3;
}

#img_3_banner3_955937359 {
	width: 590px;
	height: 750px;
}

#img_3_banner3_955937359.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_4_banner3_955937359 {
	top: 654px;
	left: 201px;
	z-index: 4;
}

#img_4_banner3_955937359 {
	width: 482px;
	height: 93px;
}

#img_4_banner3_955937359.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_5_banner3_955937359 {
	top: 628px;
	left: 537px;
	z-index: 5;
}

#img_5_banner3_955937359 {
	width: 134px;
	height: 24px;
}

#img_5_banner3_955937359.bnfy-enter {
	-webkit-animation: fade-in 100ms 4900ms ease 1 both;
	animation: fade-in 100ms 4900ms ease 1 both;
}

#b_6_banner3_955937359 {
	top: 0px;
	left: 0px;
	z-index: 6;
}

#img_6_banner3_955937359 {
	width: 1440px;
	height: 108px;
}

#img_6_banner3_955937359.bnfy-enter {
	-webkit-animation: fade-in 200ms 4800ms ease 1 both;
	animation: fade-in 200ms 4800ms ease 1 both;
}

#b_7_banner3_955937359 {
	top: 598px;
	left: 220px;
	z-index: 7;
}

#img_7_banner3_955937359 {
	width: 54px;
	height: 16px;
}

#img_7_banner3_955937359.bnfy-enter {
	-webkit-animation: fade-in 500ms 4500ms ease 1 both;
	animation: fade-in 500ms 4500ms ease 1 both;
}

#b_8_banner3_955937359 {
	top: 550px;
	left: 223px;
	z-index: 8;
}

#img_8_banner3_955937359 {
	width: 62px;
	height: 16px;
}

#img_8_banner3_955937359.bnfy-enter {
	-webkit-animation: fade-in 500ms 4200ms ease 1 both;
	animation: fade-in 500ms 4200ms ease 1 both;
}

#b_9_banner3_955937359 {
	top: 439px;
	left: 221px;
	z-index: 9;
}

#img_9_banner3_955937359 {
	width: 84px;
	height: 36px;
}

#img_9_banner3_955937359.bnfy-enter {
	-webkit-animation: fade-in 500ms 3900ms ease 1 both;
	animation: fade-in 500ms 3900ms ease 1 both;
}

#b_10_banner3_955937359 {
	top: 673px;
	left: 413px;
	z-index: 10;
}

#img_10_banner3_955937359 {
	width: 60px;
	height: 26px;
}

#img_10_banner3_955937359.bnfy-enter {
	-webkit-animation: fade-in 500ms 3600ms ease 1 both;
	animation: fade-in 500ms 3600ms ease 1 both;
}

#b_11_banner3_955937359 {
	top: 497px;
	left: 221px;
	z-index: 11;
}

#img_11_banner3_955937359 {
	width: 298px;
	height: 24px;
}

#img_11_banner3_955937359.bnfy-enter {
	-webkit-animation: fade-in 500ms 3300ms ease 1 both;
	animation: fade-in 500ms 3300ms ease 1 both;
}

#b_12_banner3_955937359 {
	top: 617px;
	left: 221px;
	z-index: 12;
}

#img_12_banner3_955937359 {
	width: 444px;
	height: 2px;
}

#img_12_banner3_955937359.bnfy-enter {
	-webkit-animation: fade-in 500ms 3000ms ease 1 both;
	animation: fade-in 500ms 3000ms ease 1 both;
}

#b_13_banner3_955937359 {
	top: 566px;
	left: 221px;
	z-index: 13;
}

#img_13_banner3_955937359 {
	width: 444px;
	height: 2px;
}

#img_13_banner3_955937359.bnfy-enter {
	-webkit-animation: fade-in 500ms 2700ms ease 1 both;
	animation: fade-in 500ms 2700ms ease 1 both;
}

#b_14_banner3_955937359 {
	top: 221px;
	left: 491px;
	z-index: 14;
}

#img_14_banner3_955937359 {
	width: 56px;
	height: 26px;
}

#img_14_banner3_955937359.bnfy-enter {
	-webkit-animation: fade-in 500ms 2400ms ease 1 both;
	animation: fade-in 500ms 2400ms ease 1 both;
}

#b_15_banner3_955937359 {
	top: 38px;
	left: 901px;
	z-index: 15;
}

#img_15_banner3_955937359 {
	width: 86px;
	height: 28px;
}

#img_15_banner3_955937359.bnfy-enter {
	-webkit-animation: fade-in 500ms 2100ms ease 1 both;
	animation: fade-in 500ms 2100ms ease 1 both;
}

#b_16_banner3_955937359 {
	top: 38px;
	left: 1082px;
	z-index: 16;
}

#img_16_banner3_955937359 {
	width: 132px;
	height: 28px;
}

#img_16_banner3_955937359.bnfy-enter {
	-webkit-animation: fade-in 500ms 1800ms ease 1 both;
	animation: fade-in 500ms 1800ms ease 1 both;
}

#b_17_banner3_955937359 {
	top: 221px;
	left: 591px;
	z-index: 17;
}

#img_17_banner3_955937359 {
	width: 74px;
	height: 26px;
}

#img_17_banner3_955937359.bnfy-enter {
	-webkit-animation: fade-in 500ms 1500ms ease 1 both;
	animation: fade-in 500ms 1500ms ease 1 both;
}

#b_18_banner3_955937359 {
	top: 200px;
	left: 206px;
	z-index: 18;
}

#img_18_banner3_955937359 {
	width: 186px;
	height: 64px;
}

#img_18_banner3_955937359.bnfy-enter {
	-webkit-animation: fade-in 500ms 1200ms ease 1 both;
	animation: fade-in 500ms 1200ms ease 1 both;
}

#b_19_banner3_955937359 {
	top: 13px;
	left: 77px;
	z-index: 19;
}

#img_19_banner3_955937359 {
	width: 186px;
	height: 64px;
}

#img_19_banner3_955937359.bnfy-enter {
	-webkit-animation: fade-in 500ms 900ms ease 1 both;
	animation: fade-in 500ms 900ms ease 1 both;
}

#b_20_banner3_955937359 {
	top: 262px;
	left: 743px;
	z-index: 20;
}

#img_20_banner3_955937359 {
	width: 524px;
	height: 514px;
}

#img_20_banner3_955937359.bnfy-enter {
	-webkit-animation: fade-in 500ms 600ms ease 1 both;
	animation: fade-in 500ms 600ms ease 1 both;
}

#b_21_banner3_955937359 {
	top: 300px;
	left: 720px;
	z-index: 21;
}

#img_21_banner3_955937359 {
	width: 564px;
	height: 420px;
}

#img_21_banner3_955937359.bnfy-enter {
	-webkit-animation: fade-in 500ms 300ms ease 1 both;
	animation: fade-in 500ms 300ms ease 1 both;
}
